@model Registration.Models.Userdemo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Userdemo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.ename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genderlist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genderlist)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserdemoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
