@model Student.Models.Registration

@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.sname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sname)
                @Html.ValidationMessageFor(model => model.sname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.semail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.semail)
                @Html.ValidationMessageFor(model => model.semail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.smob, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.smob)
                @Html.ValidationMessageFor(model => model.smob)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.suname)
                @Html.ValidationMessageFor(model => model.suname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.spword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.spword)
                @Html.ValidationMessageFor(model => model.spword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
