@model Student.Models.Stud

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stud</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dept.dname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dept.dname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registration.sname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration.sname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
